body {
  font-style: Arial;
  background:  rgb(17, 17, 17);
}

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color:  rgb(17, 17, 17);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}

.second-text {
  font-size: 3.4rem;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 5s;
  animation-duration: 10s;
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 14s;
  animation-duration: 12s;
  color: #a3ddf0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #f0a3be;
  animation-name: fadeInOut;
  animation-delay: 20s;
  animation-duration: 18s;
}

.fifth-text {
  font-size: 3rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #f0eba3;
  animation-name: bottomFadeOut;
  animation-delay: 28s;
  animation-duration: 80s;
}
p{
  color:rgb(240, 234, 234);;
  font-size: 1.5rem;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#btn{
  font-size: 1rem;
  align-content: end;
  color: rgb(235, 138, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid #ccc; */
  /* padding: 4px; */
  /* display: inline-block; */
}



@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}
