*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container.tenor-gif-embed{
    max-width: 200px;
}

.container.btn{
    display: flex;
    gap: 25px;
}

.btn{
    text-decoration: none;
    color: #111;
    /* background: #fff; */
    padding: 10px 25px;
    border-radius:8px;
    /* box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3); */
}

.yes{
    text-decoration: none;
    background-color: white;
    padding: 10px 25px;
    border-radius:8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.5);
}

.no{
    text-decoration: none;
    background-color: white;
    padding: 10px 25px;
    border-radius:8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.5);
}

.new-btn{
    text-decoration: none;
    color: #111;
    /* background: #fff; */
    padding: 10px 25px;
    border-radius:8px;
}

#newbtn{
    text-decoration: none;
    background-color: white;
    padding: 10px 25px;
    border-radius:8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.5);
}