 *{
    margin: 0;
    padding: 0;
 }

 body{
    background: #201919;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

 }

 .text{
    position: absolute;
    opacity: 0;
    animation:showText 9s infinite ;
 }


 @keyframes showText{
    0%{opacity: 0;}
    10%{opacity:1;}
  30%{opacity:1;}
  40%{opacity:0;}
  100%{opacity:0;}
}

/* Delay for each text */
.text:nth-child(1){
  animation-delay:0s;
}
.text:nth-child(2){
  animation-delay:3s;
}
.text:nth-child(3){
  animation-delay:6s;
}

.btnn{ margin-bottom: 30% ;
  align-self: end;
}


.btnn a{
  color: rgb(231, 161, 114);
}